{% block content %}
    <h1 class="title">Jcat REST API новостей</h1>

    <ul id="article-list">
        {% for article in articles %}
            <li><a href="{{ path('api_1_get_article', {'id': article.id}) }}">{{ article.title }}</a>
                <p>Опубликовано: {{ article.published.format('d.m.Y H:i') }}</p>
                <p>{{ article.shortDescr }}</p>
            </li>
        {% else %}
            <li>Ничего не найдено.</li>
        {% endfor %}
    </ul>
{% endblock %}