<h1>{{ article.id }} - {{ article.title }}</h1>
<p>Опубликовано: {{ article.published.format('d.m.Y H:i') }}</p>
<p>{{ article.descr }}</p>
<p>Источник: <a href="{{ article.url }}">{{ article.source }}</a></p>